<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refresh.pos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.refresh.pos.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.refresh.pos.ui.LoaderActivity" />
        <activity android:name="com.refresh.pos.ui.HomeActivity" />
        <activity android:name="com.refresh.pos.ui.InventoryActivity" />
        <activity android:name="com.refresh.pos.ui.AddProductActivity" />
        <activity android:name="com.refresh.pos.ui.inventory.AddProductLotActivity" />
        <activity android:name="com.refresh.pos.ui.inventory.ProductDetailActivity" />
        <activity android:name="com.refresh.pos.ui.SaleActivity" />
        <activity android:name="com.refresh.pos.ui.StockActivity" />
        <activity android:name="com.refresh.pos.ui.SaleProductCatalog" />
        <activity android:name="com.refresh.pos.ui.sale.SaleLedgerActivity" />
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>